@font-face {
	font-family: NotoNaskhArabicUI;
	src: url(../font/NotoNaskhArabicUI-Bold.ttf);
}
@font-face {
	font-family: khalaadalarabeh;
	src: url(../font/khalaad-al-arabeh.ttf);
}
@font-face {
	font-family: "main";
	font-style: normal;
	src: url(../font/main.otf);
}
@font-face {
	font-family: 'HelveticaNeueLTR';
	src: url('../font/HelveticaNeueLTR.eot');
	src: url('../font/HelveticaNeueLTR.eot?#iefix') format('embedded-opentype'),  url('../font/HelveticaNeueLTR.woff') format('woff'),  url('../font/HelveticaNeueLTR.ttf') format('truetype'),  url('../font/HelveticaNeueLTR.svg#HelveticaNeueLTR') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLTB';
	src: url('../font/HelveticaNeueLTB.eot');
	src: url('../font/HelveticaNeueLTB.eot?#iefix') format('embedded-opentype'),  url('../font/HelveticaNeueLTB.woff') format('woff'),  url('../font/HelveticaNeueLTB.ttf') format('truetype'),  url('../font/HelveticaNeueLTB.svg#HelveticaNeueLTB') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.42857;
    font-family: main;
    background: #ffffff;
    font-size: 15px;
    position: relative;
    color: #333;
    direction: rtl;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover,a:active,a:visited,a:focus{
  text-decoration: none;
}
i.fa{
	margin: 0 5px;
}
.container-full{
	width:100%;
	}
input[type="password"]{
	font-family: initial;
}
.clear{
	clear:both
	}
.modal-header{
		border: 0;
	}
.right{
	float: right;
}
.left{
	float: left;
}
.hidde{
	display: none;
}
.br-danger{
	border: 1px solid #e01717;
}
.bg-danger {
    background-color: #f2dede;
    padding: .5em;
    border: 1px solid #e4c9c9;
    margin: 1em 0;
}
.bg-success {
    padding: .5em;
	border: 1px solid #c0e8af;
    margin: 1em 0;
}
.btn-dfault{
	background: #fff;
	border: 1px solid #ccc;
}

.btn-color-49{
	color: #fff;
	background: #499491;
}
.btn-color-49:hover{
	color: #fff;
	background: #51a9a5;
	transition: all .3s;
}
.btn-shipping{
	width: 95%;
    margin-bottom: 1em;
    background: #499491;
    color: #fff;
    margin: .5em auto;
    display: block;
}
.backg-c{
	background: #ccc;
}
.header{
	color:#0b1228;
	background:#f5f5f5;
	padding: 1em 3em;
	}
.top-menu a{
	color:#0b1228;
}
.top-menu a:hover{
	color:#499491;
	transition:all .4s;
}
.top-menu .logo{
	float:right;
	}
.header{
	-webkit-box-shadow: inset 0px -11px 9px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -11px 9px -12px rgba(0,0,0,0.75);
	box-shadow: inset 0px -11px 9px -12px rgba(0,0,0,0.75);
	}
.shado-header{
		box-shadow: 0px -1px 3px 1px rgba(185,185,185,1);
		}
.header .contact{
	padding-bottom:2.3em;
	text-align:left;
}
.header .contact ul, .header .top-menu  .menu .nav .menu-rs-active ul.nav-main-item{
	display:inline-block;
	}
.header .contact ul li, .top-menu  .menu nav ul li{
	float:right;
}
.header .contact ul li i{
	float: right;
    margin-right: .3em;
}
.header .contact ul li{
    margin-right: 1em;
    direction: ltr;
}
.header .top-menu .menu-rs{
	display:none;
	width:100%;
	}
.header .top-menu .nav{
	float:left;
	padding-top:2em;
	}
.header .top-menu .nav-rs{
	display:none;
	}
.header .top-menu  .menu nav ul.nav-main-item li{
    border-left: 1px solid;
	}
.header .top-menu  .menu nav ul li{
	float:right;
    padding: .1em 1.2em;
    font-size: 20px;
    font-weight: bold;
	}
.top-menu  .menu nav ul.nav-main-item li:last-child,.top-menu  .menu nav ul.nav-main-item li.item-nav-last{
	border-left:none;
	}
.slider{
	background:url(../images/background-slider.jpg);
	background-size:cover;
	height:550px;
	/*box-shadow: inset 0px 11px 8px -8px #8b8d8f;*/
	padding: 0 5em;
	}
.slider .text-slider{
    color: #fff;
	float:right;
	margin-top: 5em;
	text-align: right;
	}
.slider .text-slider h1, .slider .text-slider h3{
	margin-bottom: .5em;
	}
.slider .text-slider h1{
	font-size:3em;
	}
.slider .text-slider h3{
	font-size:2em;
}
.header-login{
    padding: 0px;
}
.slider .header-login> ul >li{
	float:right;
	margin-left: 1em;
	}
.slider .header-login .button-login, .slider .header-login .button-subscrip{
	padding: 0.7em 1em;
    font-size: 1em;
    border: none;
    color: #0b1228;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	box-shadow: inset 0px 11px 8px -8px #8b8d8f;
}
.slider .header-login .button-login{
	background: #4ba987;
}
.slider .header-login .button-login i{
    float: right;
    margin-left: .4em;
	}
.slider .header-login .button-subscrip .icon-free{
	background-image: url(../images/free.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: -43px;
    top: 4px;
    width: 60px;
    height: 38px;
    font-size: 16px;
    padding-right: 10px;
    line-height: 36px;
    color: #fff;
		}

.slider .header-login .button-subscrip{
	background:#ffd800;
	position:relative;
}
.widget{
	width: 100%;
    margin: auto;
    margin-top: -3em;
	}
.widget .container-widget{
    margin: auto;
}
.widget .widget-content{
	background:#f5f5f5;
	text-align: center;
    padding: 1em;
	margin-bottom:2em;
	border-radius: 10px;
	-webkit-box-shadow: 6px 6px 16px -1px rgba(185,185,185,1);
	-moz-box-shadow: 6px 6px 16px -1px rgba(185,185,185,1);
	box-shadow: 6px 6px 16px -1px rgba(185,185,185,1);
	}
.widget .widget-content h3{
	padding-top: 1em;
    font-size: 1.1em;
	}
.widget .widget-content i,.cercle i{
    height: 90px;
    width: 90px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
	}
.widget .widget-content i.icon-sin-in{
	background-image: url(../images/icon/sin-in.png);
}

.widget .widget-content i.icon-adress{
	background-image: url(../images/icon/adress.png);
}

.widget .widget-content i.icon-shipin{
	background-image: url(../images/icon/shipin.png);
}
h1.h-home,h1.h-front{
	font-size: 2em;
	color: #499491;
}
h1.h-front{
    margin: .3em .6em .3em 0;
    font-weight: bold;
}
h1.h-home{
    display: block;
	margin: .3em auto .6em;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 2px 2px #666;
}
.logo-hom{
    text-align: center;
    display: block;
}
.text-home {
	text-align:justify;
	text-align-last:center;
	margin: 1em;
    font-size:18px;
    line-height: 2em;
    color: #4c4a4a;
}
.services{
	background:#499491;
	padding-top: 1.3em;
}
.services-content{
	text-align:center;
	color:#fff;
	margin-bottom:2em;
}
.services .cercle{
    background: #fff;
    height: 137px;
    width: 137px;
    border-radius: 160px;
    margin: auto;
    text-align: center;
    display: block;
    padding: 20px;
}

.services .cercle .img{
	height:97px;
	width:97px;
}
.services .services-content h1{
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}
.calculator-form{
	max-width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 2.5em;
    border-radius: 17px;
    /* -webkit-box-shadow: 6px 6px 16px -1px rgba(185,185,185,1); */
    -moz-box-shadow: 6px 6px 16px -1px rgba(185,185,185,1);
    box-shadow: 0px 3px 3px 0px rgba(185,185,185,1);
    margin-bottom: 20px;
}
.btn-dflt{
	color: #fff;
    font-size: 16px;
    background: #315856;
    display: block;
    margin: auto;
    font-weight: bold;
    padding: 8px 20px;
	}
.btn-dflt:hover{
	background-image: -moz-linear-gradient(90deg, #346562, #336a67);
  background-image: -ms-linear-gradient(90deg, #346562, #336a67);
  background-image: -o-linear-gradient(90deg, #346562, #336a67);
  background-image: -webkit-linear-gradient(90deg, #346562, #336a67);
  background-image: linear-gradient(90deg, #338b86, #336a67);
    transition: all 1s;
	color:#fff;
	}
.prices{
	max-width:800px;
	margin:auto;
	padding:2em 0;
}
.prices .price-content{
    height: 583px;
    background-repeat: no-repeat;
    max-width: 350px;
    background-size: cover;
    margin: 2em auto 6em;
	display: flow-root;
	padding: 0px 1.5em;
	}
.prices .saving-account{
    background-image: url(../images/saving_account.png);
	color: #f58e7e;
	}
.prices .free-account{
    background-image: url(../images/free_account.png);
	color: #4e7964;
	}
.prices .h-priceaccount{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-top: 4em;
    margin-bottom: 2em;
	}
.prices .price-txt table {
  border-collapse:separate;
  border-spacing: 0 0.9em;
  width: 100%;
}
.prices .price-txt table tr td{
    font-size: 20px;

		}
.ratings{
	background:#f4f4f4;
	padding: 1em 0;
	}
.ratings .rating-carousel{
	width: 50%;
    margin: auto;
		}
.ratings .profile{
    margin: auto;
    width: 100px;
    border-radius: 60px;
    height: 100px !important;
	}
.ratings .carousel-caption{
	position:relative;
    margin: auto;
    right: auto;
    left: auto;
	width: 80%;
	color: #575b5f;
	text-shadow: none;
		}
.ratings .carousel-control.left,.carousel-control.right{
	background:none !important;
	    width: 20px !important;
}
.ratings h3, .ratings h2{
    padding-bottom: 10px;
		}
.ratings h2,.ratings p{
	padding-top: 15px;
}
.indexpartners{
    background:#fff !important;
}
.partners{
	background:#fff;
	text-align:center;
	padding:2em 0;
	}
.partners .list-partners li{
	float:right;
margin-left: 2.38em;
    text-align: center;
		}
.partners ul.list-partners{
	display: inline-block;
    margin: auto;
	}
.footer{
    background: #0c4240;
    padding-top: 2em;
    color: #fff;
	}
.footer .supported-payment{
	text-align:center;
	}
.footer .supported-payment ul{
	display:inline-block;
	}
.footer .supported-payment ul li,.footer .footer-contact ul li{
	float:right;
	margin-left: .7em;
	}
.footer .footer-contact ul li i{
    background: #ffd600;
    color: #000;
    padding: 10px;
    border-radius: 20px;
		}
.footer h3.footer-title{
	font-size:1.8em;
	margin-bottom: .7em;
	}
.footer .footer-contact{
	text-align: center;
}
.footer .footer-contact ul{
	text-align: center;
    display: inline-block;
	}
.footer .footer-menu, .footer .footer-contact, .footer .supported-payment{
	margin-bottom:2em;
}
.footer .footer-menu{
	text-align:center;
	}
.footer .footer-menu ul{
    display: inline-block;
	text-align:right;
	}
.footer .footer-menu ul li i{
	float:right;
	}
.footer .footer-menu ul li a{
	margin: 0 .5em .6em 0;
    color: #fff;
    display: inline-block;
	}
	.footer .footer-menu ul li a:hover, .footer .footer-menu ul li a:active, .footer .footer-menu ul li a:focus, .footer .footer-menu ul li a:active,     .top-menu .nav ul li a:hover, .top-menu .nav ul li a:active, .top-menu .nav ul li a:focus, .top-menu .nav ul li a:active,.top-menu .rs-select-item a{
    color: #4ba987;
	}
.footer .footer-contact ul li a:hover  > i{
	background:#cc0;

	}
.copyright{
    text-align: center;
    background: #011514;
    color: #fff;
    padding: 1em;
	}
/**
* registration modal
**/
.registration-modal{
	overflow: auto;
}
.registration-modal .registration-modal-content,.login-modal .login-modal-content{
	background: #499491;
}
.registration-modal .registration-modal-content .registration-modal-body{
	padding: 1em;
	background: #fff;
	margin: 3em;
    border-radius: 20px;
}

.registration-modal .registration-modal-content .modal-header .close,.login-modal .modal-header .close{
	color: #fff;
    opacity: 1;
}
.registration-modal .registration-modal-content  .registration-modal-body-h{
	width: 80%;
	margin: auto;
	background: #499491;
}
.registration-modal .registration-modal-content .form-group label{
margin: 1.3em 0 .5em;
font-size: 18px;
}
.registration-modal .registration-modal-content .row-btn{
	margin: 1em;
}

.registration-modal .registration-modal-content .row-btn .btn, .login-modal .login-modal-content .row-btn .btn{
	background-color: #ffe32a;
	-webkit-box-shadow: 1px 6px 5px -4px rgba(185,185,185,1);
    -moz-box-shadow: 1px 6px 5px -4px rgba(185,185,185,1);
	box-shadow: 1px 6px 5px -4px rgba(185,185,185,1);
	border-radius: 20px;
    width: 90%;
    margin: auto;
    display: block;
}
.login-modal .input-group-addon{
	/*border-radius: 0px 20px 20px 0;
	border-left: 0;
	box-shadow: -8px 6px 2px -4px rgb(73, 72, 72);
	background: #fff;*/
}
.login-modal .form-group input[type="text"], .login-modal .form-group input[type="password"]{
	/*border-radius: 20px 0 0 20px;
	border-right: 0;
	box-shadow: 1px 6px 2px -4px rgb(73, 72, 72);*/
}
.login-modal .login-modal-body h3{
	color: #fff;
	font-size: 22px;
	margin-bottom: 1em;
}
.login-modal{
	color: #fff;
}
.login-modal .login-modal-body{
	padding: 1em 2em;
}
.login-modal .a-sinin{
	color: #ffe32a;
}
.login-modal .a-getpass{
	color: #fff;
}
@media (min-width: 992px) {

	.top-menu-user .logo img{width: 100%;}
	}
@media (min-width: 914px) and (max-width: 991px) {

	.header{
		padding:1em .6em;
		}
		.top-menu-user .logo img{
			width: 268px;
			margin: auto;
			display: block;
		}
		.sidebar-right .menu-user ul li a{
			text-indent: -9999px;
		}
	}

@media screen and (max-width: 913px) {
	.top-menu  .logo{
		margin: .5em 0;
		text-align: center;
		width: 100%;
		float: none !important;
		}
		.top-menu-user .logo img{
			width: 268px;
			margin: auto;
			display: block;
		}
	.user-info .user-info-body{
		padding: 2em 0 1em !important;
	}
	.content-left .user-info-body ul li{
		padding: .3em .5em !important;
	}
	.sidebar-right .menu-user ul li a{
		text-indent: -9999px;
	}
}
@media screen and (max-width: 767px) {
	.top-menu .nav .nav-main-item{display: none;}
	.top-menu .nav li.nav-rs {
    float: left !important;
    display: block;
  	}
 	.top-menu .nav menu-rs ul{
	 position:relative;
	 width:100%;
 	}
 	.top-menu .nav .nav-main-item li{
	 float:none;
	}
	.top-menu  .logo,.top-menu  .nav{
		width:100%;
		text-align:center;
	}
	.top-menu-user .logo img{
		width: 268px;
		margin: auto;
		display: block;
	}
	.header .top-menu .nav-main-item{
		width:100%;
	}
	.top-menu .menu-rs-active .menu-rs{
		display:block !important;
	}
	.top-menu .nav .menu-rs {position: relative;}
  	.top-menu .nav.nav-responsive .nav-rs {
  	  	position: absolute;
    	left: 0;
    	top: 0;
  	}
	.top-menu .nav ul.nav-main-item li {
    	float: none !important;
		border-left:none !important;
    	text-align: right;
		transition-property: all;
		transition-duration: .5s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		height:auto;
		  }
	.sidebar-right .menu-user ul li a{
		text-indent: initial;
	}
	.ratings .rating-carousel{
		width: 100%;
	}
	.user-backend .header{
		padding: .3em 0 !important;
		}
	.sidebar-right{
		height: 69px;
		overflow: hidden;
		background: #499491;
		padding: .5em;
		margin-bottom: 2em;
	}
	#sidebar-right{
        padding-top: 0 !important;
	}
	.sidebar-right .menu-user> ul> li.active >a{

	}
	.sidebar-right .menu-user> ul> li.menu-sm{
		cursor: initial;
		display: block !important;
		margin-bottom: 1em;
		width: 85%;
	}
	.sidebar-right .menu-user >ul> li.menu-sm >i{
		float: left;
    	top: 0;
    	left: 0;
    	position: absolute;
    	padding: .5em;
    	border: 1px solid;
    	margin: .5em;
		cursor: pointer;
	}
}
@media screen and (max-width: 618px) {
	.header,.slider{
		padding:5px;
	}
	.slider .header-login> ul >li{
			width: 100%;
			margin-bottom: .5em;
			text-align: center;
	}
	.slider .text-slider{
		text-align: center;
		float: none;
	}


	.partners .list-partners li{
		float: none;
		margin-bottom:.8em;
		margin-left: 0;
	}
	/*
	.slider .header-login> ul >li .button-login,.slider .header-login> ul >li .button-subscrip{
		width: 100%;
	}*/

/**
*
**/
.top-menu-user .logo img{
	width: 268px;
	margin: auto;
	display: block;
}
.top-menu-user .form-search{
	width:100% !important;
	float: none;
}

.top-menu-user .user-cart-info,.top-menu-user .form-search, .top-menu-user .logo {
	width: 100%;
	margin-bottom: 1em;

}
/*
.top-menu-user .form-search{
	width: 90px !important;
}
.top-menu-user .form-search input[type="text"]{
	width: 40px !important;
}
*/
/*
.top-menu-user .form-search, .top-menu-user .user-cart-info{
	width: 100% !important;
}
*/

.content-left .user-info-body{
	padding: 1em .5em !important;

}
.content-left .user-info-body ul li{
	float: none;
	border-bottom: 1px solid #ccc;
	border-left: none !important;
    width: 100%;
	padding: .3em 0 !important;
	text-align: center;
	margin-bottom: 1em;
}
.content-left .user-info-body ul li:last-child{
	border-bottom: none;
}


}

@media screen and (max-width: 400px){
	.top-menu-user{
		padding: 0 !important;
	}

	.top-menu-user .user-cart-info> ul >li{
		padding: .3em .5em;
	}
	.top-menu-user .logo img{width: 268px !important;}
}















/***
*
* home user
***/
.user-backend,.partners{
	background: #f2f1f1;
}
.user-backend .header{
	padding: 1em 3em 1em 0;
}
.sidebar-right{
    /*padding-top: 0 !important;*/
    padding-right: 0px !important;
}
#sidebar-right{
	background: #499491;
	padding: 1em 0;
}

/** menu user top **/
.menu-user ul{
    padding-right: 5px;
}
.top-menu-user .top-menu-user-right{
	margin-top: 1em;
}
.sidebar-right .menu-user> ul >li.menu-sm{
	display: none ;
}
/*
.top-menu-user .logo img{
	display: block;
	margin: auto;
}

.top-menu-user .form-search ,.top-menu-user .user-cart-info{
	float: right;
	width: 50%;
}
*/
.form-search{
	position: relative;
}
.top-menu-user .form-search button{

    height: 34px;
    left: 0;
    position: absolute;
}
.top-menu-user .form-search .form-control{
	width: 100%;
	padding-left: 2.2em;
}
.top-menu-user .user-cart-info{
	padding: 0;
}
.top-menu-user .user-cart-info> ul >li{
	float: right;
	padding: .3em .3em;
}
.top-menu-user .user-cart-info ul li.user-profil-m{
	float: left;
    padding-top: 10px;
}
.top-menu-user .user-cart-info >ul> li.user-profil-m> a{
	padding-right: 0.2em;
    display: block;
    float: left;
	color:#000;
	max-width: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-menu-user .user-cart-info ul li.Portfolio{
	display: inline-block;
    background-color: #1a514f;
    margin-top: 7px;
    border-radius: 10px;
    width: 35%;
    text-align: center;
    padding: 6px;
    margin-right: 5%;
}
.top-menu-user .user-cart-info ul li.cart{
    margin-right: 10%;
}
.top-menu-user .user-cart-info ul li.Portfolio span{

    display: inline-block;
    color: #fff;
}
.top-menu-user .user-cart-info ul li.Portfolio span:first-child{
	border-left: 1px solid #fff;
}
.wallet,.wprice{

    margin-right: 5px;
    padding-left: 5px;
}
/*
.wprice{
    float: none;
    margin-right: 0px;
}*/
.forminline{
    padding-top: 5px;
}
.top-menu-user .user-cart-info >ul> li.user-profil-m:hover  >.sous-menu{
	display: block;
}
.top-menu-user .user-cart-info >ul> li> ul{
	display: none;
    margin-top: 1.5em;
    background: #ffffff;
    padding: .2em;
    position: absolute;
	z-index: 99;
	border: 1px solid #dfdfdf;
	-webkit-box-shadow: 0px 5px 12px -2px rgba(185,185,185,1);
    -moz-box-shadow: 0px 5px 12px -2px rgba(185,185,185,1);
    box-shadow: 0px 5px 12px -2px rgba(185,185,185,1);
   /* width: 30%;*/
    left: 10px;
}
.top-menu-user .user-cart-info >ul >li >ul>li{
	float: none;
	border-bottom: 1px solid #ccc;
	padding: .5em .8em;
	display: block;

}
.top-menu-user .user-cart-info >ul >li >ul> li:last-child{
	border-bottom: none;
}
.top-menu-user .user-cart-info >ul >li >ul>li>a{
	display: block;
}
.cart{
	position: relative;
    font-size: 28px !important;
    color: #000;
}
.flesh{
    position: relative;
	font-size: 20px !important;
}
.top-menu-user .user-cart-info i span{
	position: absolute;
    right: -5px;
    top: -5px;
    background: #f4d150;
    border-radius: 100%;
    max-height: 15px;
    min-width: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    padding: 0 .2em;
}
/** menu right **/
.mycompt{
    border: 1px solid #ccc;
    background: #fff;
    padding: 1.5em 1em;
    border-radius: 0px;
}
.edit-profile{
    background-color: #f9f9f9;
}
.sidebar-right .menu-user ul li{
	font-size: 19px;
	line-height: 40px;
	cursor: pointer;
}
.sidebar-right .menu-user ul li a{
	color: #1a514f;
	display: block;
	padding: .5em 0;
}
.sidebar-right .menu-user ul li.active >a, .sidebar-right .menu-user ul li a:hover{
	background: #b5e3d3;
	border-right:4px solid orange;
    transition: all .3s;
    font-size: 18px;
}
.sidebar-right .menu-user ul li.active >  a .icon,.sidebar-right .menu-user ul li a:hover > .icon{
	margin-left: 1em;
	transition: all .3s;
}
.sidebar-right .menu-user ul li .icon{
	width: 40px;
    height: 40px;
    float: right;
    background-repeat: no-repeat;
	display: block;
	margin-left: .3em;

}
.address{
    direction: ltr;
    text-align: left;
    padding-top: 1rem;
}
.address>div>h4 {
    text-align: right;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    border-bottom: none;
    background: #499491;
    padding: 8px;
    margin-bottom: 10px;
}
.control-field {
    font-size: 17px;
}
.control-field > b {
    font-weight:bold;
}
.sidebar-right .menu-user ul li .icon-home{
    background-image: url(../images/icon/user_home.png);
}
.sidebar-right .menu-user ul li .icon-shipping{
	background-image: url(../images/icon/user_shipping.png);
}
.sidebar-right .menu-user ul li .icon-order, .sidebar-right .menu-user ul li .icon-offre{
	background-image: url(../images/icon/user_order.png);
}
.sidebar-right .menu-user ul li .icon-pricing{
	background-image: url(../images/icon/user_pricing.png);
}
.sidebar-right .menu-user ul li .icon-calculator{
	background-image: url(../images/icon/user_calculator.png);
}
.sidebar-right .menu-user ul li .icon-support{
	background-image: url(../images/icon/user_support.png);
}
.sidebar-right .menu-user ul li .icon-shippingAddressesAir{
	background-image: url(../images/icon/user_shippingAddressesAir.png);
}
.sidebar-right .menu-user ul li .icon-balance{
	background-image: url(../images/icon/user_balance.png);
}
.sidebar-right .menu-user ul li .icon-hippingAddressesMarine{
	background-image: url(../images/icon/user_hippingAddressesMarine.png);
}

/**
*content
**/
.user-backend .content-left{
	padding-top: 2em;
	background: #f2f1f1;
}
.content-left .section-title{
	font-size: 22px;
    margin-bottom: 1em;
    font-weight: bold;
}
.content-left .user-name{
	background: #499491;
    position: relative;
    padding: 1em 2em;
    padding-right: 7em;
    display: block;
    color: #fff;
    font-size: 18px;
}
.content-left .user-info .user-avatar img{
	width: 60px;
    height: 60px;
}
.content-left .user-info .user-avatar {
	position: absolute;
    right: 1em;
    bottom: -2em;
    padding: .5em;
	background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 50px;
    -webkit-box-shadow: -3px 0px 22px -3px rgba(185,185,185,1);
    -moz-box-shadow: -3px 0px 22px -3px rgba(185,185,185,1);
    box-shadow: -3px 0px 22px -3px rgba(185,185,185,1);
}
.content-left .promo i{
	background: url(../images/icon/promo.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 69px;
	height: 88px;
	line-height: 99px;
    display: block;
    position: absolute;
    left: 1em;
	top: 0;
	color: #ffa201;
	font-size: 22px;
	text-align: center;
}
.content-left .user-info-body{
	border: 1px solid #ccc;
    padding: 1em;
    padding-right: 10%;
}
.content-left .user-info-body ul li{
	float: right;
	padding: .3em 1em;
    border-left: 1px solid #ccc;
}
.content-left .user-info-body ul li:last-child{
	border-left: none;
}
.content-left .user-info-body ul li span{
	display: block;
}
.content-left .user-info-body .btn-confirm{

	color: #499491;
}
.content-left .user-info-body span.bld{
	font-size: 18px;
	font-weight: bold;
    margin-top: 10px;
}
/**
* shipping adress
**/
.shipping-adress{
	margin-top: 2em;
}

.body-border{
	border: 1px solid #ccc;
	padding: 1em;
	margin-bottom: 2em;
}
.shipping-adress .shipping-adress-info .shipping-adress-header{

}
.shipping-adress .shipping-adress-info .shipping-adress-header .icon-flag-en{
	width: 64px;
    height: 44px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
	background: url(../images/icon/flag-en.png);
}
.shipping-adress .shipping-adress-info .shipping-adress-body{
	padding: 1em;
	margin-top: 1em;
}
.shipping-adress .shipping-adress-info .shipping-adress-body span{
	float: right;
}

.shipping-adress .shipping-adress-info .shipping-adress-body .item{
	margin-bottom: .3em;
}
.shipping-adress .shipping-adress-info .shipping-adress-body .label-inf{
	padding: .3em;
	border: 1px solid #ccc;
	text-align: center;
	background: #fff;
	color: #499491;
	font-weight: bold;
}
/**
* statistique
**/
.statistique .ttr-statistique{
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	display: block;
}
span.ttr-statistique{
	color: #499491;
}
.statistique .progress{
	height: 10px;
}
.progress-content{
	text-align: center;
    width: 100%;
}
.progress-content .progress-top{
	text-align: center;
    width: 90%;
    display: inline-block;
	margin: auto;
	padding: .2em;
}
.progress-content  .progress-bar{
	background-color:  #499491;
}

/**
* shipments
**/
.backg-c > a {
    color:#fff;
}
.article > .active{
    background: #499491;
}
.shipment .article{
	/*background: #f2f1f1;*/
	margin-bottom: 1em;
}
.shipment .article .header-article{
	/*background: #499491;
    padding: 1em .5em;*/
    text-align: center;
    color: #fff;
    margin-bottom: 1em;
}
.shipment .article .header-article span{
	font-size: 26px;
    margin-bottom: .3em;
    display: block;
}
.shipment .article .header-article h3{
	font-size: 20px;
	line-height: 30px;
}
.shipment .article .body-article{
	background: #fff;
	border: 1px solid #ccc;
	padding: .5em;
    overflow: hidden;
    max-height: 585px;
    height: 585px;
}
.bottom-article{
    position: absolute;
    width: 90%;
    bottom: 15px;
}
.shipment .article .body-article .img-article,.shipment .article .body-article .shipping-list{
	margin-bottom: 1.5em;
}
.shipment .article .body-article img{
	width: 100%;
	margin: auto;
    display: block;
    height: 170px;
}
.shipment .article .body-article ul li {
	margin-bottom: .6em;
	font-size: 14px;
}
.shipment .article .body-article ul li span{
	color: #000;
	font-weight: bold;
}
.shipment .article .body-article ul li span.nb{
	float: left;
    text-align: right;
}
.shipment .icon-ch{
	display: block;
    width: 50px;
    height: 46px;
    float: right;
    margin-top: -30px;
}
.shipment .icon-accountShipments{
	background-image: url(../images/icon/accountShipments.png);
	background-size: cover;
}
.shipment .icon-shipmentReady{
	background-image: url(../images/icon/shipmentReady.png);
	background-size: cover;
}
.shipment .icon-shipmentsDelivered{
	background-image: url(../images/icon/shipmentsDelivered.png);
	background-size: cover;
}
.reportError-modal-content{
	padding:1.5em;
	background: #f2f1f1;
}
.reportError-modal-content h3{
    margin-bottom:.8em;
    font-weight: bold;
}
.btn-front{
	background-color: #ffe32a;
	border: 1px solid #ccc;
    float: left;
	padding: .3em 3em;
	min-width: 2em;
	min-width: 12em;
}
.btn-front-full{
	background-color: #ffe32a;
	border: 1px solid #ccc;
	width: 100%;
}

/*
.reportError-modal-content .btn{
	background-color: #ffe32a;
	border: 1px solid #ccc;
    float: left;
    padding: .3em 3em;
    width: 40%;
}
*/
.declarationContentShipment-modal .number{
	width: 20%;
}

/***
*	Profile
***/
.nprices{
    border:none !important;
	background: none !important;
	padding: 0 !important;
	border-radius: 0 !important;
}
.prices{
	border:1px solid #ccc;
	background: #fff;
	padding: 1.5em 1em;
	border-radius: 0px;
}
#chkDefault{
	margin-right: 0 !important;
}
.row-desable-form{
	border-bottom: 2px solid #ccc;
    margin-bottom: 1.3em;
}
.row-update-pass{
	border-top: 1px solid #ccc;
    margin-top: 1.3em;
}
.aide .header-form-aide h3{
	font-size: 28px;
	text-align: center;
}
.aide .header-form-aide ul{
	display: block;
	margin: auto;
}
.aide .header-form-aide .contact{
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.aide .header-form-aide ul {
	display: inline-block;
	padding: 1em 0;
    color: #499491;
}
.aide .header-form-aide ul li{
	float: right;
	font-size: 36px;
    margin-left: 1em;
    direction: ltr;
}
.aide .header-form-aide ul li i{
	margin-right: .2em;
}
.aide .header-form-aide p{
	text-align: center;
    font-size: 19px;
    padding: 1em;
    color: #3333338f;

}

.status-color-0{
	color:#777;
}
.status-color-1{
	color:orange;
}
.status-color-2{
	color:#0b8eff;
}
.status-color-4,.status-color-3{
	color:green;
}.status-color-5{
	color:red;
}
/**
*	Responsive table and purchase forme
**/
@media  only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	.table-responsive, .table-responsive thead, .table-responsive tbody, .table-responsive th, .table-responsive td, .table-responsive tr{
			display: block;
		}
	.table-responsive thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

	.table-responsive tr{
	  margin: 0 0 1rem 0;
	  border-bottom: 2px solid #337ab7;
	}
	.table-responsive tr:laste-child{
		border-bottom: none;
	  }
	.table-responsive td{
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

	.table-responsive td:after{
			position: absolute;
			right: 6px;
			width: 45%;
			padding-left: 10px;
			white-space: nowrap;
			text-align: right;
		}
	.table-responsive tr td{
		width: auto !important;
		text-align: left;
		border: none;
		}
	.purchase_order	td:nth-of-type(1):after { content: "المنتج"; }
	.purchase_order td:nth-of-type(2):after { content: "رابط المنتج"; }
	.purchase_order td:nth-of-type(3):after { content: "السعر"; }
	.purchase_order td:nth-of-type(4):after { content: "الكمية"; }
	.purchase_order td:nth-of-type(5):after { content: "الخصائص"; }
	.purchase_order td:nth-of-type(6):after { content: ""; }

	.table-orders	td:nth-of-type(1):after { content: "رقم الطلب"; }
	.table-orders td:nth-of-type(2):after { content: "سعر الطلب"; }
	.table-orders td:nth-of-type(3):after { content: "الموقع"; }
	.table-orders td:nth-of-type(4):after { content: "ملاحظة"; }
	.table-orders td:nth-of-type(5):after { content: "الحالة"; }
	.table-orders td:nth-of-type(6):after { content: "اخر تحديث"; }
	.table-orders td:nth-of-type(7):after { content: "معاينة"; }

	.table-purchase	td:nth-of-type(1):after { content: "المنتج"; }
	.table-purchase td:nth-of-type(2):after { content: "رابط المنتج"; }
	.table-purchase td:nth-of-type(3):after { content: "السعر"; }
	.table-purchase td:nth-of-type(4):after { content: "الكمية"; }
	.table-purchase td:nth-of-type(5):after { content: "الخصائص"; }
	.table-purchase td:nth-of-type(6):after { content: "اخر تحديث"; }
	.table-purchase td:nth-of-type(7):after { content: "الحالة"; }

	.table-transactions td:nth-of-type(1):after { content: "تاريخ العملية"; }
	.table-transactions td:nth-of-type(2):after { content: "نوع العملية"; }
	.table-transactions td:nth-of-type(3):after { content: "	مبلغ العملية بالدينار"; }
	.table-transactions td:nth-of-type(4):after { content: "الرصيد الحالي يالدينار"; }
	.table-transactions td:nth-of-type(5):after { content: "وسيلة الدفع"; }

	/*
	.purchase_order tr:nth-child(odd) {
		background: #ccc;
	  }
	  */
	  .purchase_order .edit td:after {
		content: "" !important;
	  }
	.purchase_order tbody tr:first-child> td{
		border-top: 1px solid #ddd !important;
	}
	.purchase_order{
		margin-top: 1em;
	}
	/*
	.purchase-table table tr td:last-child{
		border-bottom: 1px solid #ccc;
		}
		*/
	.purchase-table ul.head-table{
		display: none;
	}
	.purchase-bottom .col-sm-2 {
		padding: 0 15px !important;
	}
}

.purchase_order tbody tr {
		background-color: #fff;
	}
.purchase_order tbody td{
		padding: 1em 0;
	}
.purchase_order tbody td input[type='text']{
		width: 95%;
	}
.purchase_order thead tr {
		border-bottom: 10px solid white;
	  }
.purchase-table thead{
		  display: none;
	  }
.purchase-table .purchase-body{
		background-color: #fff;
		padding:0 .5em 1em .5em;
		margin-top: 1em;
		border: 1px solid #ccc;
	}
.purchase-body .sum-purchase{
    margin: .5em 0;
    padding-top: 2em;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}
.purchase-body .sum-purchase .price {
	margin-left:3em;
}
.purchase-table .head-table {
		background-color: #499491;
		color: #fff;
		padding: .5em;
		display: flex;
	}
.purchase-table .head-table li, .purchase-table table tr td{
		width: 16.666%;
	}
.purchase-table .head-table li{
		float: right;
		width: 16.666%;
		text-align: right;
	}
.purchase-table table tbody tr:first-child> td{
		border-top: none;
	}














.btn-edit,.btn-delet,.update-collect-purchase{
    min-width: fit-content;
    color: #fff;
    display: inline-block;
    margin-bottom: .2em;
    margin-right: 2px;
}
.purchase-table .btn-delet{
	background-color: red;

}
.btn-payer-purchase{
	/*margin-right: 1em;
    padding-right: 2em;
    padding-left: 2em;*/
}
.purchase-table .btn-edit,.purchase-table .update-collect-purchase{
	background-color: seagreen;
}
/*.purchase-table .btn i{
	margin-left: 5px;
}*/
.purchase-bottom{
	background-color: #499491;
	padding: 15px 10px 0 10px;
}
.purchase-bottom .col-sm-2{
	padding-left: 0;
	padding-right: 10px;
}
.purchase-bottom input{
	margin-bottom: .2em;
}
.new-purchase h3{
	font-size: 20px;
    color: #499491;
    background: #ffe32a;
    padding: .3em 1em;
    vertical-align: middle;
    border: 1px solid #ccc;
    margin: 1em 0;
}
.new-purchase form{
	width: 85%;
	margin: auto;
}
.newpurchase{
    background: #fff;
    padding: 40px;
}
.sed-data-purchase{
    padding: 0.6em 3em;
    margin-top: 9px;
    width: 100%;
}
/*
.btnplus{
    border: none !important;
}
*/
/**
* Special Offers
**/
.special_offers .offre{
	border: 1px solid #ccc;
    overflow: hidden;
    background: #e6e2e2;
	padding: .5em;
	margin-bottom: 1em;
}
.special_offers .img-product{
    text-align: center;
    height:200px;
}
.special_offers .img-product img{
	display: inline-block;
    margin: auto;
    max-width: 100%;
    height: 100%;
}
.special_offers .title-product .price{
	float: left;
    font-size: 20px;
    font-weight: bold;
}
.special_offers .title-product span.title{
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
  }
  .special_offers .offre i{
	  position: relative;
  }
  .special_offers .offre i> span{
	position: absolute;
    right: -9px;
    top: -9px;
    font-weight: bold;
    font-size: 18px;
  }
  .qty{
    float: left;
    font-weight: bold;
  }
  /***
  *	Prices
  ***/
  .pricing .prices{
	max-width: initial;
  }
  .pricing .prices .price-contenaire{
    background: #fff;
    padding: 1em 2em;
	border-radius: 20px;
	margin: 0 auto 1em ;
	text-align: center;

  }
  .pricing .prices .price-contenaire:hover,.pricing .prices .price-contenaire.active{
	-webkit-box-shadow: 0px 5px 23px 3px rgba(185,185,185,1);
    -moz-box-shadow: 0px 5px 23px 3px rgba(185,185,185,1);
	box-shadow: 0px 5px 23px 3px rgba(185,185,185,1);
	cursor: pointer;
  }
  .pricing .prices .price-content {
    height: 461px;
    background-repeat: no-repeat;
	max-width: 344px;
    background-size: contain;
    margin: 0 auto 1em;
    display: table;
	/*padding: 0px 2.5em;*/
	text-align: right;
}
.pricing .prices .h-priceaccount{
	margin-top: 2.5em;
    margin-bottom: .5em;
}
.pricing .prices .price-txt{
	margin-top: 2em;
}
.pricing .prices .price-txt table{
	border-spacing: 0 0.4em;
}
.pricing  .btn-pricing {
	padding: .5em 3em;
}
.pricing  .btn-pricing-free{
    background: #3dc3a6;
    -webkit-box-shadow: inset 1px 6px 13px 2px rgb(131, 245, 218);
    -moz-box-shadow: inset 1px 6px 13px 2px rgb(131, 245, 218);
	box-shadow: inset 1px 6px 13px 2px rgb(131, 245, 218);
  }
.pricing .btn-pricing-saving{
	background: #f77484;
	-webkit-box-shadow: inset 1px 6px 13px 2px rgb(255, 198, 205);
    -moz-box-shadow: inset 1px 6px 13px 2px rgb(255, 198, 205);
    box-shadow: inset 1px 6px 13px 2px rgb(255, 198, 205);
}
.pricing .counttime{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
	font-size: 17px;
}
.pricing .counttime p{
	font-size: 18px;
	color: #757575fa;
}
.pricing .counttime ul{
	display: inline-block;
	margin: auto;
	margin-top: 2em;
}
.pricing .counttime ul li span{
	border: 1px solid #ccc;
    padding:.2em .3em;
	margin-left: 10px;
	font-family: initial;
    font-weight: bold;
}
.pricing .counttime ul li{
	float: right;
    color: #499491;
    padding: 0 1em;
    text-align: right;
}
/***
*	chipment
***/
.chipment-table table{
	background-color: #fff;
}
.chipment-table thead{
	background: #499491;
	color:#fff;
}
.btn-width{
    width: 100%;
    margin: 2px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle !important;
}
.chipment-table .btn-eye{
	/*min-width: 6em;
    color: #000;
    display: inline-block;
    margin-bottom: .2em;
    /* font-size: 22px;
	padding: .2em;
	margin-right: .5em;
	transition: all .2s;*/
}
/*.payer-purchase{
	/*background: #20da52;
}
.chipment-table .btn-eye{
    background: #b5ead8;
}
.payer-purchase:hover{
	background: #19bb45;
}
.chipment-table .btn-eye:hover{
	background: #a1e0cb;
}
.chipment-table .btn-eye .fa,.chipment-table .payer-purchase .fa{
	font-size: 22px;
}
.chipment-table .btn-eye .fa,.chipment-table .payer-purchase .fa{
	color: #499491;
}*/
.chipment-table .price span{
	color: #41e241;
	font-weight: bold;
}
.chipment-table tbody tr{
	background-color:  #f9f9f9;
}
.chipment-table tr td{
	border-top: 2px solid #fff !important;
}
.chipment-table .serche-form{
	background: #d2f3f1;
    padding: 1em;
}
.chipment-table .serche-form .div-btn{
	float: left;
}
.chipment-table .serche-form input[type="text"]{
	float: right;
	width: 100%;
}
.chipment .serche-form button{
	color:#fff;
	margin-right: 10px;
}
.chipment .serche-form .serch-btn{
    background: #4cd84c;
    padding: 8px;
    width: 40%;
    margin-right: -10%;
}
.chipment .serche-form .filter-btn{
	background: #13ccc5;
}
.chipment .new-purchase,.transactions .add-funds{
	float: left;
	margin: 1.5em
}
/*
.chipment .new-purchase span{
	margin-right: 10px;
	display: inline-block;
	padding: .3em;
}
*/
.chipment .new-purchase .btn-plus,.transactions .btn-plus{
	background-color: #ffe32a;
	color: #499491;
	border: 1px solid #499491;
	padding: .2em .5em;
    margin-right: 1px;
    text-align: center;
}
.btn-register{
    background-color: #ffe32a;
}
.registermodal{
   background-color: #499491;
    color:#fff;
}
/***
* Calcutator
***/
.calculator .calculator-form .b{
	text-align: center;
}
.calculator .resulte{
    padding: 0.3em;
    margin-top: 1em;
    text-align: center;
}
.calculator .resulte .price{

    font-weight: bold;

}
.calculator .resulte th{
	font-size: 16px;
    font-weight: bold;
}
.loading{
	background: #0000000a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.loading img{
	vertical-align: middle;
    text-align: center;
    top: 50vh;
    position: relative;
}
/*************/
.user-info , .body-border{
    background: #fff;
}
#div-login-msg{
    color: red;
    font-size: 16px;
    font-weight: bold;
}


#div-login-msg > .message{
    padding: 10px;
    color: black;
    font-weight: bold;
}

.transactions > thead > tr {
    font-weight: bold;
}

.section-description{
    padding-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1rem;
}
.btn-secondary{
    background: #499491;
    color: #fff;
}
.blue > h3{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.panels{
    padding: 20px;
    background-color: #f7f5f5;
}
.contact{
    padding-top: 10px;
}
.textalign{
    padding-right: 10px;
}
.pad{
    margin-top: 20px;
}

.onhold{
    position: absolute;
    width: 100px !important;
    height: 60px !important;
    top: 0;
    left: 20px;
}
.textred{
    color:red !important;
}
/***/
.box-body {
    background: #fff;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    -moz-box-shadow: 0 0 2px #f3f3f3;
    -webkit-box-shadow: 0 0 2px #f3f3f3;
    box-shadow: 0 0 2px #f3f3f3;
    display: inline-block;
    width: 100%;
    font-style: normal;
}
.no-packagebox {
    text-align: center;
    margin: 100px;
}
.no-packagebox h1 {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 20px;
}
.delared{
    background-color: red;
}

@media (max-width: 767px){
    .bottom-article {
        bottom: 5px;
    }
}
/***
pagination ***/
.paginate{
	text-align: center;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #499491;
    border-color: #295a58;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #295a58;
    background-color: #86bdbb99;
    border-color: #86bdbbd1;
}
.pagination>li>a , .pagination>li>span {
    color: #295a58;
}
.remove_bs{
    position: absolute;
    margin-top: 50%;
    font-size: 25px !important;
    color: red;
}
.payshipping{
    background-color: green;
}
.payedshipping{
    background: #29ea29;
}
/*
.edit-profile .avatar{
  float: left;
  overflow: hidden;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background:  #C68587;
  border: 6px solid #B3C9CB;
  background-image: url(https://scontent-vie1-1.cdninstagram.com/hphotos-ash/t51.2885-19/10932224_821299211264682_1488190390_a.jpg);
  background-size: cover;
  background-position: 50% 25%;
  -webkit-transition: border 0.5s linear;
  -moz-transition: border 0.5s linear;
  -o-transition: border 0.5s linear;
  transition: border 0.5s linear;
  position: relative;
}
.edit-profile .avatar:after{
    content: "";
    position: absolute;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(240,227,199,1)), color-stop(100%,rgba(107,202,180,1)));
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    border: 1px solid white;
    left: -8px;
    top: -8px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
}
.edit-profile .avatar:hover:after{
  opacity: 0.7;
}
.edit-profile .avatar.open:hover:after{
  opacity: 0;
}

.edit-profile #camera{
  -webkit-transform: scale(0.4);
  position: relative;
  z-index: 9999;
  cursor: pointer;
  top: 18%;
  overflow: hidden;
}
.edit-profile #circle{
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 0.3s linear;
  stroke-dashoffset: 33px;
  stroke-dasharray: 33px;
}
.edit-profile #cameraFrame{
  -webkit-transition: all 0.5s linear;
  stroke-dashoffset: 72px;
  stroke-dasharray: 72px;
}
.edit-profile #plus{
  -webkit-transition: all 0.3s linear;
  stroke-dashoffset: 5px;
  stroke-dasharray: 5px;
}
.edit-profile #fileUpload{
  overflow: hidden;
  position: absolute;
  width: 70px;
  padding: 10px;
  opacity: 0;
  left: 50%;
  top: 70%;
  -webkit-transform: translate3d(-50%,-50%,0);
  z-index: 9999;
  -webkit-transition: 250ms cubic-bezier(.7,0,.36,1);
  transition: 250ms cubic-bezier(.7,0,.36,1);
}
.edit-profile #fileUpload:focus{
    outline: none;
	background: transparent;
  }
  .edit-profile #openModal   {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  -webkit-transform: scale(0);
  z-index: 8888;
  -webkit-transition: 250ms cubic-bezier(.7,0,.36,1);
  transition: 250ms cubic-bezier(.7,0,.36,1);
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
  background-color: rgba(255,255,255,0.9);
}
.edit-profile #openModal
  > span{
    font-family: raleway;
    font-size: 1.2vw;
    top: 40%;
    position: absolute;
    left: 50%;
    white-space: nowrap;
    -webkit-transform: translate3d(-50%,0,0);
	color: rgba(0,0,0,0.7);
  }
  .edit-profile .separatorLine{
  margin-top: 15px;
  width: 300%;
  position: absolute;
  height: 1px;
  background: rgba(0,0,0,0.6);
}
.edit-profile:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.edit-profile  {
  display: inline-block;
}
.edit-profile  {
  display: block;
}

.edit-profile .avatar:hover
  > #camera
    > #cameraFrame{
	  stroke-dashoffset: 0;
	}
.edit-profile .avatar:hover
  > #camera
    > #circle{
	  stroke-dashoffset: 0px;
	}
.edit-profile .avatar:hover
  > #camera
    > #plus{
      stroke-dashoffset: 0px;
	}
.edit-profile .avatar:active
  > #camera
    > #cameraFrame{
      -webkit-transition: none;
      stroke: rgba(255,255,255,0.7);
	}
.edit-profile .avatar:active
  > #camera
    > #circle{
      -webkit-transition: none;
      stroke: rgba(255,255,255,0.7);
	}
.edit-profile .avatar:active
  > #camera
    > #plus{
      -webkit-transition: none;
	  stroke: rgba(255,255,255,0);
	}
.edit-profile  .src{
  font-family: raleway;
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.edit-profile  #camera{
  -webkit-transition: 250ms cubic-bezier(.7,0,.36,1);
  transition: 250ms cubic-bezier(.7,0,.36,1);
}
.edit-profile .avatar.open
  > #camera{
    -webkit-transform: scale(0);
	fill: white;
  }
  .edit-profile .avatar.open
  > #openModal{
	-webkit-transform: scale(0.95);
  }
  .edit-profile .avatar.open
  > #fileUpload{
    opacity: 1;
	-webkit-transition-delay: 250ms;
  }
  .edit-profile .avatar.open
  > #camera{
	visibility: hidden;
  }*/


.verifierProfileModale .panel{
	padding: 1em;
}
.verifierProfileModale .panel p{
	font-size: 14px;
	margin: 1em 0;
}




















.sp-loading {
	text-align: center;
	max-width: 270px;
	padding: 15px;
	border: 5px solid #eee;
	border-radius: 3px;
	font-size: 12px;
	color: #888;
}
.product-slider-m .item-sp-thumbs{
	padding: 5px;
	background: #fff;
	display: inline-block;
	border: 1px solid #ccc;
    margin: 10px 2px 2px;
}
.product-description-m,.product-header-m{
	padding: 1em;
}
/* Element wrapper */

.sp-wrap {
	display: none;
	line-height: 0;
	font-size: 0;
	background: #fff;
	position: relative;

}
.sl-large{
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
}
/* Thumbnails */

.sp-thumbs {
	text-align: right;
	display: inline-block;
	margin-top: .2em;
	background: #f2f1f1;
}
.sp-thumbs img {
	min-height: 50px;
	min-width: 50px;
	max-width: 50px;
}
.product-header-m .price{
    font-weight: bold;
}
.product-header-m .sub-text{
	overflow: hidden;
	padding: 1em 0;
}
.sp-thumbs a:link, .sp-thumbs a:visited {
	width: 68px;
	height: 68px;
	overflow: hidden;
	display: inline-block;
	background-size: cover;
	background-position: center;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.sp-thumbs a:hover {
	opacity: 1;
}

/* Styles for the currently selected thumbnail */

.sp-thumbs a:active, .sp-current {
	opacity: 1!important;
	position: relative;
}

/* Image currently being viewed */

.sp-large {
	position: relative;
	overflow: hidden;
	background: #fff;
	top: 0;
    left: 0;
    /*height:200px;*/
}
.sp-large a img {
	max-width: 100%;
	/*height: 100%;*/
}
.sp-large a {
	display: block;
}

/* Panning Zoomed Image */

.sp-zoom {
	position: absolute;
	left: -50%;
	top: -50%;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
	display: none;
}
/* Lightbox */

.sp-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .9);
	z-index: 500;
	display: none;
	cursor: pointer;
}
.sp-lightbox img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 90%;
	max-height: 90%;
	border: 2px solid #fff;
}
#sp-prev, #sp-next {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 501;
	color: #fff;
	padding: 14px;
	text-decoration: none;
	background: #000;
	border-radius: 25px;
	border: 2px solid #fff;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	transition: .2s;
}
#sp-prev {
	left: 10px;
}
#sp-prev:before {
	content: '';
	border: 7px solid transparent;
	border-right: 15px solid #fff;
	position: absolute;
	top: 16px;
	left: 7px;
}
#sp-next {
	right: 10px;
}
#sp-next:before {
	content: '';
	border: 7px solid transparent;
	border-left: 15px solid white;
	position: absolute;
	top: 16px;
	left: 18px;
}
#sp-prev:hover, #sp-next:hover {
	background: #444;
}

.nb-broduct{
	margin: 10px 0 !important;
}
.ProducteSliderModal .label-nb{
	border: 1px solid #ccc;
    background: #fff;
    padding: 5px;
    margin-left: 10px;
	bottom: 0;
	display: inline-block;
}
/* Tweak styles for small viewports */
@media screen and (max-width: 400px) {
	.sp-wrap {
		margin: 0 0 15px 0;
	}
	#sp-prev, #sp-next {
		top: auto;
		margin-top: 0;
		bottom: 25px;
	}
}














.edit-profile{
	padding: 1em;
}

  .edit-profile .user-avatar {
	width: 140px;
	height: 140px;
	border-radius: 100%;
	border:2px solid #FFFFFF;
	box-shadow: 0 0 8px 3px #B8B8B8;
	position:relative;
	margin: 1em auto;
  }

  .edit-profile .user-avatar img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
  }

  .edit-profile span.icon {
	position: absolute;
	top: 10px;
	right: 0;
	background:#e2e2e2;
	border-radius:100%;
	width:30px;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	text-align:center;
	color:#0000ff;
	font-size:14px;
	cursor:pointer;
  }
  .edit-profile span.icon i{
	position: relative;
    top: 7px;
  }
.login-errors-msg{
    text-align: center;
    padding-bottom: 10px;
}

.login-errors-msg > .bg-erors {
    padding: 4px;
    color: red;
    background-color: #fff;
    border-radius: 4px;
}
